<!DOCTYPE html>
<html>
    <head>
        <title>Form Pengisian</title>
    </head>
    <body>
    Masukkan data matkul yang kamu pilih
    <form action="savename" method="GET">
        {% csrf_token %}
    {{input_form.as_p}}
    <input type = "submit" value="Submit">
    </form>
</br>

    <a href="{% url 'main:readmatkul' %}"><button>Lihat Matkul</button></a>
    </body>
</html>

