<!DOCTYPE html>
<html>
    <head>
        <title>Daftar Matkul</title>
    </head>
    <body>
    <table width="33%">
    <tr>
        <th>Matkul</th>
    </tr>
    {% if matkuls %}
        {% for matkul in matkuls %}
        <tr>
        <td><a href ="{% url 'main:detailmatkul' matkul.id %}">{{ matkul.display_name }}</td>
        <td><form action="{% url 'main:matkul_delete' matkul.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete matkul">
            </form>
        </td>
        </tr>
        {% endfor %}
    {% endif %} 
    </table>
    <a href="{% url 'main:home' %}"><button>Back</button>
    </body>
</html>